<div class="row">
  <h1 class="text-center">Scrabble Me</h1>
</div>

<form action="/scrabble" class="form-horizontal">
  <div class="form-group">
    <label for="scrabble_word">Put Your Scrabble Word Below!!</label>
    <input id="scrabble_word" name="scrabble_word" class="form-control" type="text">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">scrabblify!</button>
  </div>
</form>
